body {
    text-align: center;
    font-family: comic sans ms;
    background-color: darksalmon;
    font-weight:bold;
}
.p {
    font-size: 20px;
}
#dhairya {
    height: 300px;
    width:300px;
}
#hh {
    height:300px;
    width:300px;
}
